<?xml version="1.0"?>
<launch>  
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find argo_tracker_description)/urdf/argo_tracker_default.urdf.xacro" />
  <param name="robot_description_semantic" textfile="$(find argo_tracker_robot_moveit_config)/config/taurob_tracker.srdf" />
  
  <node pkg="ad_kinematics" type="ad_kinematics_node" name="ad_kinematics_node" output="screen">    
    <param name="group_name" value="arm_with_gripper_group"/>
  </node>
</launch>
